::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: gray;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(4, 205, 250);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #36e705;
}